@use '../../main.scss';

section.index {
    width: 100%;

    h1 {
        font-size: 2.5em;
        margin: 0;
    }

    .slider-class {

        .swiper-pagination-lock {
            display: block;
            visibility: hidden;
        }

        .swiper-pagination {
            position: static;
            margin: 20px 0; 
            z-index: 2;
    
            .swiper-pagination-bullet {
                background: main.$black;
            }
        }
    }


    &>div:first-child {
        position: relative;
        overflow: hidden;

        .checkout-error {
            padding: 20px 10px;
            position: absolute;
            top: 40px;
            max-width: 80vw;
            transition: transform .3s ease-in-out;
            width: 100%;
            left: 50%;
            z-index: 6;
            transform: translateX(-50%);
            border-right: 5px solid main.$dark-pink;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background: main.$white;
            color: main.$gray
        }


        .mySwiper .swiper-pagination {
            bottom: 200px;
            left: 293px;
            z-index: 2;
            width: fit-content;

            .swiper-pagination-bullet {
                background: main.$dark-pink;
            }
        }

        .buttons {
            position: absolute;
            display: flex;
            left: 250px;
            bottom: 180px;
            z-index: 2;
            gap: 80px;

            button {
                background: transparent;
                cursor: pointer;
                border: none;

                ion-icon {
                    font-size: 2.1em;
                }
            }
        }
    }
   

    .hero-wrapper {
        background-size: cover;
        transition: .8s translate ease-in-out;
        padding: 0 40px;
        display: flex;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        height: 800px;
    
        &>div:first-child {
            position: relative;
            width: 450px;
            align-items: center;
            display: flex;
            margin-left: 60px;

            img {
                opacity: .7;
                width: 100%
            }

            .descriptions {
                position: absolute;
                padding: 0 20px;
                text-align: center;
                left: 0;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);

                .shop-now {
                    margin-top: 20px;
        
                    button {
                        border: 0;
                        max-width: 190px;
                        cursor: pointer;

                        transition: all .3s ease-in-out;
                        position: relative;
                        background: transparent;

                        div {
                            position: absolute;
                            left: 50%;
                            text-transform: uppercase;
                            font-size: 1.2em;
                            font-weight: 600;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
    
                h1 {
                    font-size: 2.5em;
                    margin: 0 0 25px;
                    font-weight: 600;
                }
    
                p {
                    margin: 0;
                }
    
                .tab-view {
                    display: block;
    
                    img {
                        max-width: 100px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }


    .wrapper > div:active {
        cursor: grabbing;
    }

    .store-services {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 55px auto;
        font-size: .85em;
        gap: 20px;
        padding: 0 20px;

        &>div:not(:first-child) {
            border-left: 2px solid main.$green;
        }

        &>div {
            display: flex;
            padding-left: 20px;
            gap: 30px;
            max-width: 400px;

            .store-service-icon-wrapper {
                width: 150px;
                margin: auto;

                img {
                    width: 100%;
                }
            }

            .store-service-description {
                color: main.$black;

                h1 {
                    font-size: 1.2em;
                    font-weight: 600;
                }

                p {
                    margin: 5px 0 0;
                }
            }
        }
    }

    .trellis-comment {
        position: relative;
        height: auto;

        &>div:first-child {
            background-image: url('https://res.cloudinary.com/dqdtnitie/image/upload/v1723859555/magnolia-checkers_qzkpp0.webp');
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 20px;
            height: 150px;
            justify-content: center;
            color: main.$black;

            div {
                width: fit-content;
                text-align: center;
            }

            [data-trellis-cake-wrapper] {
                position: absolute;
                z-index: 2;
                width: 100px;
                height: 60px;
                bottom: -35px;

                .trellis-cake {
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .trellis-cake-slice {
            width: 40px;
            left: 50%;
            position: sticky;
            transition: .1s transform ease-in-out;
            z-index: 1;
            top: 500px;
            
            img {
                width: 100%;
            }
        }

        .cake-slide {
            color: black;
            padding: 0 20px;
            margin: 40px 0;
            position: relative;
            
            &>div:first-child {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                width: 1;
                border: 1px dashed main.$red;
            }

            .comments > div {
                display: flex;
                margin-top: 50px;
                justify-content: space-around;
                gap: 50px;

                &>div:first-child {
                    flex-basis: 40%;
                    border-radius: 10px;

                    img {
                        width: 90%;
                        float: right;
                        border: 3px solid main.$green;
                        object-fit: cover;
                        aspect-ratio: 14/9;
                        border-radius: inherit;
                    }
                }

                &>div:nth-child(2) {
                    flex-basis: 40%;

                    p {
                        font-size: 1.5em;

                        span img {
                            max-width: 20px;
                        }
    
                        span:nth-of-type(2) img{
                            transform: scaleX(-1);
                        }
                    }
                }
            }

            .comments>div:nth-child(even) {
                flex-direction: row-reverse;

                &>div:first-child img {
                    float: left;
                }
            }
        }

        .cake-confetti {
            position: absolute;
            bottom: -15px;
            transform: translateX(-50%);
            left: 50%;
            width: 270px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &>div:last-child {
            height: 50px;
            background: main.$green;
        }
    }

    .events-infinite-scroll {
        width: 100%;
        background: main.$green;
        overflow: hidden;
        border-top: thick double main.$red;
        padding: 20px;

        ul {
            display: flex;
            font-size: .8em;
            font-weight: 500;
            margin: 0 auto;
            overflow: hidden;
            padding: 0;
            gap: 70px;

            li {
                list-style: none;
                margin: 0 20px;
                flex-shrink: 0;
                text-transform: uppercase;
                color: main.$black;
            }
        }
    }

    .catering-service {
        display: flex;
        background: main.$pink;
        margin-top: 60px;

        &>div {
            flex-basis: 50%;
        }

        &>div:first-child {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            background: main.$pink;
            padding: 20px;

            h1 {
                font-size: 2em;
                font-weight: 600;
                color: main.$dark-pink;
            }

            p {
                font-weight: 500;
                color: main.$dark-pink;
            }

            button {
                background: transparent;
                border: 0;
                cursor: pointer;
                position: relative;

                span {
                    position: absolute;
                    color: main.$pink;
                    font-size: 1.4em;
                    font-weight: 600;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                img {
                    max-width: 220px;
                    width: 100%;
                }
            }  
        }


        &>div:nth-child(2) {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



@media (max-width: 1024px) {
    section.index {

        .hero-wrapper {
            justify-content: center;

            &>div:first-child {
                margin-left: 0;
            }
        }


        &>div:first-child {

            .mySwiper .swiper-pagination {
                left: 50%;
                transform: translateX(-50%);
            }

            .buttons {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .store-services >div {
            flex-direction: column;
            gap: 5px;
            text-align: center;

            .store-service-icon-wrapper {
                max-width: 60px;
            }
            
        }

        .trellis-comment {

            .cake-slide .comments>div {
                    
                &>div:first-child {
                    flex-basis: 45%;
                    
                    img {
                        width: 100%;
                    }
                }

                &>div:nth-child(2) {
                    flex-basis: 45%;
                }
            }
        }
    }
}




@media (max-width: 768px) {
    section.index {

        .hero-wrapper {
            height: 600px;
    
            &>div:first-child {
                justify-content: center;
                width: 410px;
            }
        }

        &>div:first-child {

            .mySwiper .swiper-pagination {
                bottom: 110px;
            }

            .buttons {
                bottom: 90px;
            }

        }


        .store-services {
            flex-direction: column;
            margin: 30px auto;
            gap: 0;

            &>div:not(:first-child) {
                border-left: 0;
                border-top: 2px solid main.$green;
            }

            &>div {
                flex-direction: row;
                max-width: 100%;
                padding: 20px 0;
                gap: 20px;
                text-align: left;

                h1 {
                    margin: 0;
                }

                .store-service-icon-wrapper {
                    margin: 0;
                }
            }

        }

        .trellis-comment {
            
            .trellis-cake-slice {
                transform: translate(-50%, -35%);
                position: absolute;
                bottom: 0;
                top: initial;
            }
    
            .cake-slide {
                
                &>div:first-child {
                    display: none;
                }
    
                .comments>div {
                    display: block;
                    text-align: center;
                
                    &>div:first-child {
                        max-width: 350px;
                        aspect-ratio: 14/9;
                        margin: 0 auto;

                        img {
                            aspect-ratio: 0;
                            height: 100%;
                        }
                    }

                    &>div:nth-child(2) {
                        flex-basis: 40%;
    
                        p {
                            font-size: 1em;
                            
                            span:first-child {
                                display: block;
                            }
        
                            span:nth-of-type(2) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .catering-service {
            flex-direction: column-reverse;

            &>div:nth-child(2) img {
                display: block;
            }
        }
    }
}


@media (max-width: 480px) {
    
    section.index {

        .hero-wrapper {
            height: 500px;
    
            &>div:first-child {
                width: 300px;

                .descriptions {
                    font-size: .85em;

                    .tab-view {
                        display: none;
                    }

                    h1 {
                        margin-bottom: 10px;
                    }

                }
            }
        }

        &>div:first-child {

            .mySwiper .swiper-pagination {
                bottom: 10px;
                
            }

            .buttons {
                display: none;
            }
        }
    }
}


@keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }