@use '../../main.scss';

section.index {

    width: 100vw;

    &>div:first-child {
        position: relative;
        height: 800px;
    }
   
    .wrapper {
        background-size: cover;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;
        top: 0;
        background-color: main.$pink;
        position: absolute;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    
        &>div:first-child {
            position: relative;
            width: 482px;
            font-size: 1.12em;
            margin-left: 60px;
            margin-top: 40px;


            &>div {
                position: absolute;
                text-align: center;
                top: 50%;
                left: 0;
                right: 0;
                width: 100%;
                transform: translateY(-50%);
    
                h1 {
                    font-size: 2.8em;
                    padding: 0 25px;
                    margin: 0 0 25px;
                    font-family: 'dancing script';
                    font-weight: 500;
                }

                p {
                    font-size: 1.15em;
                    padding: 0 15px;
                    margin: 0;
                }
    
                h1, p{
                    color: rgb(30, 15, 6);
                }

                .tab-view {
                    display: block;

                    img {
                        max-width: 100px;
                    }
                }
            }
    
            svg {
                width: 100%;
                color: #ffffff5c;
            }
        }
    }

    &>div:nth-child(2) {
        text-align: center;
        font-size: .95em;
        color: main.$black;
        margin: 3.5em 0;

        &>div:first-child {
            padding: 0 25px;
            margin: 0 auto;
            max-width: 728px;

            h1 {
                font-weight: 600;
                font-family: 'dancing script';
                font-size: 2.8em;
                margin-bottom: 8px;
            }
    
            &>p {
                margin: 0 auto;
            }
        }
       

        &>div:nth-of-type(2) ul {
            list-style: none;
            display: flex;
            padding: 0 .2em 0 0;
            justify-content: flex-end;
            margin: .2em 0 .2em;
            gap: 20px;
            font-size: 2.25em;

            li {
                transition: 0.30s;
                transition: all .3s;
                color: main.$black;
            }

            li:hover {
                cursor: pointer;
                color: main.$green;
            }
        }

        .products {
            display: flex;
            padding: 0 20px;
            scrollbar-width: none;
            position: relative;
            overflow-x: auto;
            gap: 15px;

            div {
                width: 385px;
                flex-shrink: 0;
                text-align: center;
                overflow: hidden;
                position: relative;
                border-radius: 5px;
                cursor: pointer;
                aspect-ratio: 15/12;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s;
                }

                &>div {
                    position: absolute;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    z-index: 1;

                    p {
                        color: white;
                        margin: 0;
                        font-weight: 400;
                        font-size: 1.4em;
                    }
                }
            }

            .product_preloader {
                background: main.$light-gray;
                animation: splash 1s linear infinite alternate;
            }

            a>div::after {
                content: "";
                width: inherit;
                position: absolute;
                top: 0;
                display: block;
                height: 100%;
                background: rgba(0, 0, 0, 0.32);
            }

            a>div:hover {

                img {
                    transform: scale(1.1);
                }
            }
        } 

        .products::-webkit-scrollbar {
            display: none;
          }
    }  
}

@media (max-width: 912px) {
    section.index .wrapper {
        justify-content: center;

        &>div:first-child {
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {
    
    section.index {

        &>div:first-child {
            height: 600px;
        }

        .wrapper {
            height: 100%;
            justify-content: center;
    
            &>div:first-child {
                margin-left: 0;
                width: 300px;
                font-size: .75em;
            }
        }

        &>div:nth-child(2) {
            font-size: .75em;

            .products {
                margin-top: 20px;

                div {
                    width: 285px;
                }
            }

            &>div:first-child {
                width: 100%;
            }

            &>div:nth-of-type(2) ul {
                display: none;
            }
        }
    }
}

@media (max-width: 320px) {
    
    section.index {

        &>div:first-child {
            height: 500px;
        }

        .wrapper {
            height: 100%;
            font-size: .85em;
    
            &>div:first-child {
                width: 230px;
            }
        }

        &>div:nth-child(2) {
            font-size: .65em;
            
            .products div {
                width: 235px;
            }
        }
    }
}
