@use '../../main.scss';


section.checkout {
    width: 100%;
    margin-top: 25px;
    padding: 0 20px;
    display: flex;
    justify-content: center;

    .address {
      width: 100%;
      max-width: 700px;

      .buttons {
        margin-top: 40px;

        button:disabled {
          opacity: 0.5;
        }
      }
      
    }

   h1 {
    text-align: center;
    font-size: 1.5em;
    color: main.$black;
    margin-bottom: 1.2em;
   }

   input:focus,
   input:hover {
    outline: none;
   }
 
   select {
    outline: none;
   }

   option[hidden] {
    color: white;
   }


   input, select {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: main.$white;
    color: main.$black;
    border: .1em solid main.$light-gray;
    height: 50px;
   }

   input::placeholder, select::placeholder {
    color: main.$black
   }

   .customer, .state {
    display: flex;
    gap: 15px;
   }
} 

