@use '../../main.scss'; 

.checkout-layout {
    display: flex;
    min-height: 100vh;

    &>div:first-child {
        flex-basis: 65%;
        justify-content: space-between;
        gap: 80px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &>div:last-child {
        flex-basis: 45%;
    }
}

 
.layout-wrap header {
        padding: 30px 25px;

        .navigation ul {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: .8em;
            margin: 0;
            padding: 0;


            li, .disabled {
                list-style: none;
                display: flex;
                gap: 5px;
                align-items: center;

                a {
                    color: main.$black;
                    text-decoration: none;
                }
            }

            li {
                color: main.$black;
            }

            .disabled {
                color: main.$light-gray;

                a {
                    color: inherit;
                    cursor:default;
                }
            }
        }
}

.active {
    font-weight: bolder;
}

.mobile-logo {
    width: 230px;
    padding: 10px 0;

    img {
        width: 100%
    }
}




@media (max-width: 767px) {
    .layout-wrap {
        flex-direction:column-reverse;
        position: sticky;
        top: 0;

        &>div:first-child {
            min-height: 75vh;
        }

        header {

            .navigation ul {
                font-size: .8em
            }

            .mobile-logo {
                display: none;
            }
        }

        .layout-footer {
            position: static;

            ul {
                width: 90%;
            }
        }
    }
}

