@use '../../main.scss'; 

.checkout-layout {
    display: flex;
    min-height: 100vh;
    
    header {
        .navigation ul {
            display: flex;
            gap: 10px;
            padding: 0;
            align-items: center;
            font-size: .8em;


            li, .disabled {
                list-style: none;
                display: flex;
                gap: 5px;
                align-items: center;

                a {
                    color: main.$black;
                    text-decoration: none;
                }
            }

            li {
                color: main.$black;
            }

            .disabled {
                color: main.$light-gray;

                a {
                    color: inherit;
                    cursor:default;
                }
            }
        }
    }

    .logo-ismobile {
        margin: 10px 20px;
    }

    &>div:first-child {
        flex-basis: 65%;
        position: relative;  
    }

    .layout-wrapper > div {
        margin: 0 auto;
        padding: 20px 20px 0;
        justify-content: space-between;
        gap: 80px;
        display: flex;
        flex-direction: column;
    }


    .layout-footer {
        
        ul {
            display: flex;
            justify-content: center;
            border-top: main.$border;
            font-size: .7em;
            padding: 10px 0;
            margin: 0 auto;
            color: main.$gray;
            gap: 20px;
    
            a {
                text-decoration: none;
            }
    
            li {
                list-style: none;
                color: main.$black;
            }
        }
    }

    .mobile-logo {
        max-width: 150px;
    
        a {
            display: block;
        }
    
        img {
            width: 100%;
        }
    }

    &>div:last-child {
        flex-basis: 45%;
    }
}

.checkout__preloader {
    width: 100vw;
    display: flex;
    color: main.$black;
    justify-content: center;
    align-items: center;
    background: main.$white;
    height: 100vh;

    &>div {
        text-align: center;
    }

    img {
        max-width: 50px;
        margin: 0 auto;
    }
}

 
.active {
    font-weight: bolder;
}



@media (max-width: 767px) {
    .checkout-layout {
        flex-direction:column-reverse;
        position: sticky;
        top: 0;

        &>div:first-child {
            min-height: 75vh;
        }

        header .mobile-logo {
            display: none;
        }
    }
}

