@use '../../main.scss';

section.item {
    padding: 0 20px;
    font-size: .9em;
    
    &>div:first-child {
        gap: 5px;
        display: flex;
        margin: 25px 0;
        color: main.$black;
        align-items: center;

        div {
            display: flex;
            align-items: center;
            font-size: 20px;
        }

        a {
            color: main.$black; 
            font-size: 17px;
        }

        a:hover {
            color: main.$green;
        }

        a:last-child {
            color: main.$light-gray;
            cursor: default;
            text-decoration: none;
        }
    }

    &>div:nth-child(2) {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    
        &>div:first-child {
            max-width: 800px;
            position: sticky;
            top: 90px;
            
            .image {
                aspect-ratio: 16/12;
        
                img {
                    width: 100%;
                    border-radius: inherit;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }


    .item-info {
        color: main.$black;
        padding: 0 20px;

        p:first-child {
            font-size: 2.5em;
            font-weight: 500;
            margin: 0;
        }

        &>div:nth-child(2) {
            margin-top: .25em;
            font-size: 1.5em;

            img {
                max-width: .66em;
            }    
        }
    }

    .add-to-cart {
        margin-top: 2.5em;
        gap: 35px;
        display: flex;

        &>div:first-child {
            display: flex;
            align-items: center;
            gap: 25px;

            button {
                border: none;
                position: relative;
                background: inherit;
                padding: 0;

                ion-icon {
                    font-size: 2.1em;
                    transition: all .3s ease-in-out;
                    color: main.$dark-pink;
                    cursor: pointer;
                }

                ion-icon:hover {
                    color: main.$darker-pink;
                }
            }

            span {
                color: main.$dark-pink;
                font-weight: bold;
            }

            button:disabled {
                opacity: 0.5;
            }
        
        }
        
        &>button {
            position: relative;
            background: transparent;
            cursor: pointer;
            width: 100%;
            max-width: 190px;
            border:0;
            padding:0;

            svg {
                fill: main.$dark-pink;
                transition: all .3s ease-in-out;
            }

            div:nth-child(2) {
                display: flex;
                gap: 10px;
                width: 100%;
                left: 0;
                top:0;
                height: 100%;
                color: main.$pink;
                position: absolute;
                justify-content: center;
                align-items: center;
            }
        }

        &>button:hover {

            svg {
                fill: main.$darker-pink;
            }
        }

        &>button:disabled {
            cursor: not-allowed;

            svg {
                fill: #581b2889;
            }

        }

        .add-to-cart__error {
            background: main.$light-red;
            min-height: 50px;
            display: flex;
            align-items: center;
            font-weight: 500;
            border-radius: 5px;
            top: 50%;
            font-weight: 500;
            right: 50%;
            transform: translate(50%, -50%);
            position: fixed;
            font-size: 12px;
            padding: 10px;
            color: main.$gray;
        }
    }
}



@media(max-width: 768px) {

    section.item {
        padding: 0;

        &>div:nth-child(2) {
            margin: 0 auto;
            flex-direction: column;
            display: flex;

            &>div:first-child {
                width: 100%;

                .image span {
                    border-radius: 0;
                }
            }

            &>div:first-child {
                position: static;
            }
        }

        .item-info {
            padding: 10px 15px;
            max-width: 700px;
        }

        &>div:first-child {
            display: none;
        }
    }
}


@media(max-width: 480px) {
    section.item {

        .add-to-cart {
            gap: 20px;
            justify-content: space-between;

            &>button div:nth-child(2) {
                font-size: 12px;
            }
        }
    }
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg)
    }
  }

