@use '../../main.scss';

section.item {
    padding: 20px;
    font-size: .9em;
    
    &>div:first-child {
        gap: 5px;
        display: flex;
        margin-bottom: 25px;
        color: main.$black;
        align-items: center;

        div {
            display: flex;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: main.$black; 
        }

        a:hover {
            text-decoration: underline;
        }

        a:last-child {
            color: main.$light-gray;
            cursor: default;
            text-decoration: none;
        }
    }

    &>div:nth-child(2) {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    
        &>div:first-child {
            max-width: 800px;
            position: sticky;
            top: 90px;
            
            .image {
                width: 100%;
                height: inherit;
        
                img {
                    width: 100%;
                    border-radius: 5px;
                    background: main.$light-gray;
                    aspect-ratio: 16/14;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }


    .item-info {
        color: main.$black;
        padding: 0 20px;

        p:first-child {
            font-size: 2em;
            margin: 0;
        }

        &>div:nth-child(2) {
            margin-top: .25em;
            font-size: 1.5em;

            span {
                font-size: .9em;
            }
        }
    }

    .add-to-cart {
        margin-top: 2.5em;
        gap: 35px;
        display: flex;

        &>div:first-child {
            display: flex;
            align-items: center;
            gap: 25px;

            button {
                border: none;
                background: inherit;
                padding: 0;

                ion-icon {
                    font-size: 2.1em;
                    transition: all .3s ease-in-out;
                    color: main.$dark-pink;
                    cursor: pointer;
                }

                ion-icon:hover {
                    color: main.$pink;
                }
            }

            button:disabled {
                opacity: 0.5;
            }
        
        }
        
        &>button {
            position: relative;
            background: transparent;
            max-width: 190px;
            border:0;
            padding:0;


            svg {
                fill: main.$dark-pink;
                transition: all .3s ease-in-out;
            }

            div:nth-child(2) {
                display: flex;
                width: 100%;
                left: 0;
                top:0;
                height: 100%;
                color: main.$pink;
                cursor: pointer;
                position: absolute;
                justify-content: center;
                align-items: center;

                span {
                    font-size: .8em;
                }
            }
        }

        &>button:hover {

            svg {
                fill: main.$darker-pink;
            }
        }

        .add-to-cart__error {
            background: main.$light-red;
            border-radius: 5px;
            position: absolute;
            font-size: .9em;
            padding: 10px 5px;
            color: main.$red;
        }
    }
}


.spinner {
    width: 12%;
    position: absolute;
    left: 10px;
    animation: loader 1.3s infinite linear;
  }
  

@media(max-width: 712px) {

    section.item {
        padding: 0;

        &>div:nth-child(2) {
            margin: 0 auto;
            flex-direction: column;
            display: flex;

            &>div:first-child {
                width: 100%;

                .image img {
                    border-radius: 0;
                }
            }

            &>div:first-child {
                position: static;
            }
        }

        .item-info {
            padding: 10px 15px;
        }

        &>div:first-child {
            display: none;
        }
    }
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg)
    }
  }

