@use '../../main.scss';

.preview {
    border: main.$border;
    color: main.$black;
    margin: 0 auto;
    border-radius: 5px;

    a {
        color: main.$gray;
        text-decoration: none;
    }

    &>ul:not(ul:last-child) {
        border-bottom: main.$border;
    }

    &>ul {
        display: flex;
        gap: 10px;
        padding: 15px 0;
        margin: 0 20px;
        
        li {
            list-style: none;
        }

        li:first-child {
            flex-basis: 25%;
            font-weight: 500;
            color: main.$gray
        }

        &>li:last-child {
            font-size: .7em;
            cursor: pointer;
            transition: all .3s ease-in-out
        }

        &>li:last-child:hover {
            text-decoration: underline;
        }

        ul {
            margin: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 0;
        }
    }
}