@use '../../main.scss';

//scss for preloader and error component
.loading, .error {
    margin: 0 auto;
    height: 90vh;
    color: main.$black;

    &>pre {
        display: flex;
        height: inherit;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ion-icon {
            font-size: 40px;
        }


        button {
            margin-top: 25px;
            background: main.$black;
            color: main.$green;
            border: 0;
            font-weight: bold;
            padding: 15px 20px;
            border-radius: 5px;

            pre {
                margin: 0;
            }
        }
    }
}
