@use '../../main.scss';

//scss for preloader and error component
.loading, .error {
    display: flex;
    color: main.$black;
    justify-content: center;
    align-items: center;
    background: main.$white;
    height: 100vh;

    &>div {
        text-align: center;
    }

    ion-icon {
        font-size: 50px;
    }


    button {
        background: main.$black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        transition: all .3s ease-in-out;
        max-width: 100%;
        color: main.$green;
        font-weight: bold;
    }

    button:hover {
        background: main.$green;
        color: main.$black;
    }
}


