$black: #252525;
$dark-pink: #880d3e;
$white: #fefefe;

:root {
  font-family: bentham, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $white;
  overflow-x: hidden;
}
