$primary-color: rgb(170, 216, 237);



:root {
  font-family: bentham, sans-serif;
  color-scheme: light dark;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
