$black: #252525;
$faint-black: #25252556;
$dark-pink: #581b28;
$light-pink: #f7c0c3;
$white: #fefefe;
$gray: rgb(86, 86, 86);
$light-gray: rgba(110, 110, 110, 0.742);
$border: 1px solid $light-gray;
$green: #bae8d4;
$dark-green: #a9dcc5;
$light-green: #fff6d985;
$lightest-pink: #ffe8e8;

:root {
  font-family: 'Montserrat Alternates';
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  position: relative;
}

#root::before { 
  content: '';
  z-index: 2;
  display: none;
  background: black;
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(162, 162, 162, 0.653)
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $white;
  overflow-x: hidden;
}
