$white: #fbfbfb;
$black: #252525;
$faint-black: #616161d4;
$pink: rgba(251,219,232,255);
$dark-pink: #581b28;
$red:  rgb(239, 51, 51);
$light-red: rgba(255, 196, 196, 0.322);
$gray: rgb(86, 86, 86);
$light-gray: rgb(179, 179, 179);
$lighter-gray: rgb(206, 206, 206);
$green: #bae8d4;
$light-green: #4BB543;
$dark-green: #98dbbe;
$dark-blue: #0c07a7;
$box-shadow: 0 4px 4px rgba(0, 0, 0,.2);
$border: 1px solid rgba(0,0,0,0.2);


:root {
  font-family: 'Montserrat Alternates';
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  position: relative;
}

#root::before { 
  content: '';
  z-index: 2;
  display: none;
  background: rgb(0, 0, 0, 1);
  position: absolute;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(162, 162, 162, 0.653)
}

::-webkit-scrollbar-track {
  background: rgba(167, 167, 167, 0.26)
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $white;
  background: $white;
  overflow-x: hidden;
}
