@use '../../main.scss';

footer {
    padding-top: 20px;
    width: 100%;
    height: 100%;

    .news-letter {
        background: url('images/collection-pink-flowers.jpg');
        color: main.$black;
        background-position: center;
        padding: 50px 20px;
        background-size: cover;
        width: 100%;

        &>div {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;

            h1 {
                font-weight: 600;
                margin-bottom: 0;
                font-size: 2.5em;
            }

            p {
                font-size: 1.2em;
                margin-bottom: 2.8em;
            }

            form >div {
                    max-width: 400px;
                    border-radius: 10px;
                    background: main.$white;
                    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.183);
                    display: flex;
                    padding:0 20px;
                    height: 50px;
                    align-items: center;
                    margin: 0 auto;

                    input {
                        width: 100%;
                        background: main.$white;
                        color: main.$black;
                        border: none;
                        outline: none;
                    }
    
                    input::placeholder {
                        font-size: .85em;
                        font-family: bentham;
                    }
    
                    input:focus {
                        outline: none;
                    }

                    button {
                        background: inherit;
                        display: flex;
                        align-items: center;
                        border: none;

                        ion-icon {
                            font-size: 1.15em;
                            color: gray;
                            cursor: pointer;
                    }
                }
            }
        }
    }

    &>div {
        background: main.$green;

        &>div:last-child {
                
            text-align: center;
            margin-top: 4.5em;
            padding: 10px;
            font-size: .8em;
    
            ul {
                justify-content: flex-end;
            }
    
            &>div:last-of-type {
                margin: 20px 0;
    
                p {
                    margin: 0;
                    font-weight: 600;
                    }
                }
           }    
    }

    .footer {
        display: flex;
        color: main.$black;
        padding: 5px 40px 0;
        justify-content: space-between;
        gap: 30px;

        h1 {
            font-weight: 600;
            font-size: 1.2em;
        }

        ion-icon {
            font-size: 1.8em;
        }

        ul {
            padding-left: 0;
            margin: 15px 0;
            list-style: none;

            a {
                color: main.$black;
                text-decoration:none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        &>div:first-child {

            flex-basis: 35%;

            ul {
                display: flex;
                gap: 20px;
            }
    
            a {
                color: black;
            }
            
            p:last-of-type {
                margin: .1em 0 0;
            }

        }

        .logo {
            max-width: 180px;
            display: flex;
            align-items: center;
   
            img {
               width:100%;
            }
       }
    }

}

@media (max-width: 767px) {
    footer .footer {

        &>div:nth-last-child(-n+3) {
            display: none;
        }

        flex-direction: column;
        align-items: center;
        gap:10px;
        text-align: center;

        ul {
            justify-content: center;
        }

        &>div:last-child {
            text-align: center;

            ul {
                justify-content: center;
            }
        }
    }
}