@use '../../main.scss';

.main-footer {
    width: 100%;
    height: 100%;

    .news-letter {
        background: url('/images/Group_906.webp');
        color: main.$black;
        position: relative;
        background-position: center;
        padding: 50px 20px;
        background-size: cover;
        width: 100%;

        [data-status] {
            padding: 20px;
            background: url('/images/Group_906.webp');
            width: 100%;
            display: none;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: main.$deep-purple;
            top: 0;
            right: 0;
            position: absolute;
            z-index:5;

            .status-message {
                font-weight: 500;
                font-size: 2.2em;
            }

            ion-icon {
                font-size: 50px;
            }

            img {
                max-width: 50px;
            }
        }


        [data-status='active'] {
            display: grid;
        }

        &>div:last-child {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;

            h1 {
                font-weight: 500;
                margin: 0;
                font-size: 2.2em;
            }

            p {
                margin-bottom: 2em;
            }

            form > div {
                    max-width: 400px;
                    border-radius: 10px;
                    background: main.$white;
                    position: relative;
                    z-index: 1;
                    margin: 0 auto;

                    svg {
                        width: 100%;
                        top: 0;
                        left: 0;
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        font-family: 'Montserrat Alternates';
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        padding: 0 10px;
                        background: transparent;
                        color: main.$black;
                        border: none;
                        outline: none;
                    }
    
                    input::placeholder {
                        font-size: .85em;
                        font-family: bentham;
                    }
    
                    input:focus {
                        outline: none;
                    }


                    button {
                        background: transparent;
                        position: absolute;
                        top: 50%;
                        z-index: 3;
                        padding: 10px;
                        transform: translateY(-50%);
                        right: 7px;
                        border: none;

                        ion-icon {
                            font-size: 1.15em;
                            color: gray;
                            cursor: pointer;
                    }
                }
            }

            .email-validation::after {
                position: absolute;
                color: main.$red;
                content: var(--after-content);
                font-weight: 600;
                display: block;
                bottom: -20px;
                left: 0;
            }
        }
    }

    &>div:nth-child(2) {
        background: main.$green;
        color: main.$black;

        &>div:last-child {
            text-align: center;
            margin-top: 50px;
            padding: 10px 20px;
            font-weight: 700;
            font-size: .65em;
    
            ul {
                justify-content: flex-end;
            }
    
            &>div:last-of-type {
                margin: 20px 0;
    
                p {
                    margin: 0;
                    font-weight: 600;
                    }
                }
           }    
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        color: main.$black;
        padding: 20px 20px 0;
        justify-content: space-between;
        gap: 30px;

        h1 {
            font-weight: 600;
            font-size: 1.2em;
        }

        ion-icon {
            font-size: 1.8em;
        }

        ul {
            padding-left: 0;
            margin: 15px 0;
            list-style: none;

            a {
                color: main.$black;
                text-decoration:none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        &>div:first-child {
            flex-basis: 30%;

            ul {
                display: flex;
                gap: 20px;
            }
    
            a {
                color: black;
            }
            
            p:last-of-type {
                margin: .1em 0 0;
            }

        }
    }
}

@media (max-width: 767px) {
    .main-footer {
        
        .footer > div:first-child {
            flex-basis: 100%;

            &>div {
                    max-width: 500px;
            }
        }
    } 
}

