@use '../../main.scss';


@mixin rounded-icons {
    border-radius: 50%;
    border: 2px solid main.$black;
    transition: .3s ease-in-out;

    ion-icon {
        transition: inherit;
        --ionicon-stroke-width: 40px;
        font-size: 1.4em;
        padding: 3px;
        color: main.$black;
    }
}

@mixin dropdown {
    position: absolute;
    top: 70px;
    color: main.$black;
    left: 0;
    display: none;
    background: main.$white;  
    width: 100%;
}


header {
    display: block;
    transition: 0.3s ease-in 0.2s;
    background: white;
    position: sticky;
    top:0;
    z-index: 3;
    color: main.$black;
   

    &>div:first-child {
        background: inherit;
        padding: 0 20px;
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-between;
        gap: 20px;

        &>div:not(.mobile-menu) {
            display: flex;
            align-items: center
        }

        .nav-info {

            a {
                color: main.$black;
                text-decoration: none;
            }

            a:hover {
                color: main.$green;
            }

            &>div {
                display: flex;
                background: main.$white;
                gap: 25px;
            }

            .mobile-menu {
                display: none;
            }

            .desktop-menu > div {
                display: flex;
                gap: 5px;
                padding: 30px 0;

                &>div:first-child {
                    text-transform: uppercase;
                    font-weight: 600;
                }

                ion-icon {
                    transition: all .3s ease-in-out;
                    vertical-align: middle;
                    transform: rotateZ(-180deg);
                }

                .dropdown {
                    @include dropdown;

                    .shipping-info, .grocery-desktop {
                        padding: 50px 20px 20px;
                        width: 55%;

                        span {
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }

                    .map-wrapper {
                        width: 100%;
                    }
                }
            }
            
            .desktop-menu > div:hover {
                cursor: pointer;

                ion-icon {
                    transform: rotateZ(0);
                }

                .dropdown {
                    display: block;
                }
            }


            [data-menu-button] {
                display: flex;
                @include rounded-icons;
            }

            [data-menu] {
                position: absolute;
                transition:all .5s ease-in-out;
                padding: 100px 20px 30px;
                transform: translateX(-100vw);
                height: 100vh;
                max-width: 420px;
                visibility: hidden;
                left: 0;
                top: 0;
                z-index: -2;
                background: main.$white;

                &>div {

                    .accordian {
                        padding: 20px 0;
                        cursor: pointer;
                        border-bottom: 1px solid rgb(0,0,0,0.3);

                        ul {
                            display: flex;
                            justify-content: space-between;
                            margin: 0;
                            padding: 0;
        
                            li {
                                list-style: none;
                                font-weight: 500;
                            }

                            li:last-child {
                                transform: rotateZ(0);
                                transition: all .3s ease-in-out;
                            }
                        }

                        .accordian-body {
                            display: grid;
                            grid-template-rows: 0fr;
                            transition: all .3s ease-in-out;

                            &>div {
                                overflow: hidden;
                            }
                        }
                    }

                    .accordian--active {

                        ul li:last-child {
                            transform: rotateZ(-180deg);
                            transition: all .3s ease-in-out;
                        }

                        .accordian-body {
                            grid-template-rows: 1fr;
                            padding-top: 10px;
                        }
                    }

                    &>div:last-child {
                        display: flex;
                        margin-top: 80px;
                        gap: 20px;
                        position: relative;
                        align-items: center;
    
                        &>div:first-child {

                            ion-icon {
                                width: 18px;
                            };
                            
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            border: 2px solid main.$black;
                        }
                    }
                }
            }

            [data-menu=active] {
                transform: translateX(0);
                visibility: visible;
            }
        }

        .logo {
            position: absolute;
            width: 130px;
            cursor: pointer;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -50%);
            z-index: 2;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .user-info {
            background: main.$white;
            gap: 20px;

            .search-dropdown-show {
                transform: translateY(0);
            }

            .search-dropdown-hide {
                transform: translateY(-100vh);
            }
            

            .user-icon {
                @include rounded-icons;
                display: flex;
                position: relative;
                cursor: pointer;
                align-items: center;

                .cart-number {
                    position: absolute;
                    transition: .3s ease-in-out;
                    width: 100%;
                    margin-top: 2px;
                    top: 50%;
                    align-items: center;
                    transform: translateY(-42%);
                    color: main.$green;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    font-size: .62em;
                    font-weight: bolder;
                }
            }

            .user-icon:hover {
                border: .085em solid main.$green;

                &>ion-icon {
                    fill: main.$green
                }

                .cart-number {
                    color: main.$black;
                }
            }
        }
    }


    .search-dropdown {
        @include dropdown;
        z-index: -1;
        transition: all .5s ease-in-out;
        cursor: default;
        padding: 60px 20px 15px;
        display: block;

        .pre-loader {
            display: flex;
            padding: 20px;
            justify-content: center;

            img {
                max-width: 30px;
            }
        }

        &>div:first-child {
            display: flex;
            font-size: 1.4em;
            gap: 5px;
            align-items: center;
            justify-content: end;
        }

        .input-wrapper {
            border-bottom: 1px solid main.$light-gray;
            flex-basis: 22%;

            form {
                width: 100%;
            }

            &>div:first-child {
                display: flex;
                align-items: center;
            }

            
            input {
                border: none;
                text-transform: uppercase;
                height: 30px;
                width: 100%;
                outline: none;
                color: main.$black;
                background: main.$white;
            }
        }

        .search-results {
            gap: 20px;
            border-top: 1px solid main.$light-gray;
            display: flex;

            &>div:first-child {
                border-right: 1px solid main.$light-gray;
                flex-basis: 30%;
                padding: 20px;
                

                p:first-of-type {
                    text-transform: uppercase;
                    margin: 0;

                    span {
                        font-weight: 500;
                    }
                }
            }

            &>div:last-child {
                flex-basis: 70%;
                padding-top: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
                gap: 40px 10px;

                a {
                    color: main.$black;
                    text-decoration: none;
                }

                .result-item {

                    &>div:first-child {
                        aspect-ratio: 18/14;
                        border-radius: 5px;

                        span {
                            border-radius: inherit;
                            background:main.$light-gray;
                            width: 100%;
                            overflow: hidden;
                            height: 100%;
                        }
        
                        img {
                            width: 100%;
                            transition: all .3s ease-in-out;
                            border-radius: inherit;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &>div:last-child {

                        p {
                            font-weight: 500;
                            line-clamp: 2;
                        }
                     
                        .query-price {
                            display: flex;
                            font-weight: 500;

                            &>div {
                                display: flex;
                                align-items: center;

                                img {
                                    width: .62em
                                }
                                
                            }
                        }
                    }
                }

                .result-item:hover {
                    cursor: pointer;

                    &>div:first-child img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        center span {
            text-transform: uppercase;
            font-weight: 600;
        }

        .results-error {
            text-align: center;
            padding: 20px;

            span:first-child {
                color: main.$red;
                font-weight: 600;
            }

            span:last-of-type {
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }

    .icon-wrapper {
        margin-right: 10px;
        position: relative;

        div {
            position: absolute;
            display: flex;
            color: #43234c;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            inset: 0;
        }
    }

    .icon-wrapper:hover {

        svg {
            fill: main.$deep-purple;
            stroke: main.$light-purple;
        }

        span {
            color: main.$light-purple;
        }
    }


    svg.icon {
        width: 100%;
        transition: all .3s ease-in-out;
        max-width: 160px;
        fill: main.$light-purple;
        stroke: main.$deep-purple;
        vertical-align: middle;

        path {
            stroke-width: 0;
        }
    }
}


@media (max-width: '912px') {

    header > div:first-child {
        padding: 10px 15px;

        .logo {
            height: fit-content;
            position: static;
            transform: none;
        }

        .nav-info {

            .mobile-menu {
                display: block;

                &>div:first-child {
                    cursor: pointer;
                }

                .search-dropdown {
                    position: relative;
                    z-index: 1;
                    padding: 0;
                    top: 0;
                    margin-bottom: 30px;
                }
            }

            .desktop-menu {
                display: none;
            }
        }

        .user-info > div:not(:last-child) {
            display: none;
        }
    }
}
