@use '../../main.scss';

.navbar {
    width: 100vw;
    transition: 0.3s ease-in 0.2s;
    background: main.$white;
    position: fixed;
    z-index: 4;
    color: main.$black;
    align-items: center;

   
    &>div:first-child {
        font-size: 1.6em;
        padding: 10px 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 30px;

        &>a {
            font-family: dancing script;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            font-weight: 700;
    
            p {
                margin: 0;
            }
        }

        &>div {
            display: flex;
            gap: 30px;

            div {
                color: main.$black;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;

                .cart-number {
                    position: absolute;
                    color: main.$white;
                }
            }
        }

        .user {
            display: flex;
            cursor: pointer;
            position: relative;
            gap: 1px;
            align-items: center;

            ion-icon:first-child {
                transition: 0.40s;
            }

            .dropdown {
                position: absolute;
                background:white;
                border-radius: 5px;
                z-main: -1;
                width: 170px;
                transition: .5s;
                animation: slideout .5s ease-in-out;
                visibility: hidden;  
                top:26.5px;
                left:-100px;
    
                ul {
                    list-style: none;
                    padding: 10px 0;
                    width: 100%;
                    display: flex;
                    gap: 10px;
                    align-items: flex-start;
                    flex-direction: column;
                    margin: 0;
                    font-size: .5em;

                    li {
                        width: 100%;
                        padding: 10px;
                    }

                    li:hover {
                        background: rgba(171, 171, 171, 0.338);

                    }
                }
            }
        }

        .user:hover {

            ion-icon:first-child {
                transform: rotate(180deg);
            }

            .dropdown {
                visibility: visible;
                animation: slidein .5s ease-in-out;

                ul {
                    animation: inherit;
                }
            }
        }

    }

}


@media (min-height: 1024px) and (max-height: 1400px) {

   .navbar, .onScroll {
    &>a p {
        font-size: 1.4em;
    }

    &>div {
        font-size: 2.3em;
    }
   }
}


@keyframes slidein {

    from {
        height: 0;
    }

    to {
        height: 100px;
    }
    
}

@keyframes slideout {

    from {
        height: 100px;
    }

    to {
        height: 0;
    }
    
}

