@use '../../index.scss';

.navbar, .onScroll {
    width: 100vw;
    padding: 15px 3% 15px 20px;
    display: flex;
    transition: 0.3s ease-in 0.2s;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 4;
    color: index.$dark-pink;
    align-items: center;

    &>a {
        font-family: dancing script;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        font-size: 2em;
        font-weight: 700;

        p {
            margin: 0;
        }
    }
   
    &>div {
        font-size: 1.6em;
        display: flex;
        position: relative;
        gap: 30px;

        .user {
            display: flex;
            cursor: pointer;
            position: relative;
            gap: 1px;
            align-items: center;

            ion-icon:first-child {
                transition: 0.40s;
            }

            .dropdown {
                position: absolute;
                background:white;
                border-radius: 5px;
                z-index: -1;
                width: 170px;
                transition: .5s;
                animation: slideout .5s ease-in-out;
                visibility: hidden;
                top:26.5px;
                left:-100px;
    
                ul {
                    list-style: none;
                    padding: 10px 0;
                    display: flex;
                    gap: 10px;
                    align-items: flex-start;
                    flex-direction: column;
                    margin: 0;
                    font-size: .5em;

                    li {
                        width: 100%;
                        padding: 10px;
                    }

                    li:hover {
                        background: rgba(171, 171, 171, 0.338);

                    }
                }
            }
        }

        .user:hover {

            ion-icon:first-child {
                transform: rotate(180deg);
            }

            .dropdown {
                visibility: visible;
                animation: slidein .5s ease-in-out;
            }
        }
    } 
}

.onScroll {
    background: index.$white;
}

@media (min-height: 1024px) and (max-height: 1400px) {

   .navbar, .onScroll {
    &>a p {
        font-size: 1.4em;
    }

    &>div {
        font-size: 2.3em;
    }
   }
}

@media (max-width: 767px) {
    .navbar, .onScroll {
        position: fixed;
    }
}

@keyframes slidein {

    from {
        transform: translateY(-60px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideout {

    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-60px);
        opacity: 0;
    }
    
}

