@use '../../main.scss';

section.shipping {
    width: 100%;
    margin: 0 auto;

    .calender {
        margin: 80px auto;
        color: main.$black;
    
        h1 {
          text-align: center;
          width: 45%;
          font-weight: 600;
          margin: 0 auto;
        }
        
        .rdp-months {
          justify-content: center;
        }
  
        .rdp-caption {
          background: main.$green;
  
          .rdp-caption_label {
            font-weight: normal;
            font-size: .95em;
          }
        }
  
        .rdp-nav_button {
          width: 1.5em;
          border-radius:0;
          transition: all .3s ease-in-out;
  
          svg {
            width: 12px;
          }
        }
  
        .rdp-button {
          transition: all .2s ease-in-out;
          width: 32px;
          height: 32px;
        }
  
        .rdp-button:not([disabled]):hover:not(.rdp-day_selected):not(.rdp-nav_button) {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.103);
          color: main.$black; 
        }
  
        .rdp-nav_button:not([disabled]):hover {
          background: main.$black;
          color: main.$green
        } 
  
        .rdp-day_today:not(.rdp-day_outside) {
          font-weight: normal;
        }
  
        .rdp-day_selected {
          background: main.$black;
          color: main.$white;
        }
    }
}


@media (max-width: 767px) {

    section.shipping {

        .calender {
            margin: 65px 35px;

          .rdp {
              margin-left: 0;
              margin-right: 0;
          }

          h1 {
              width: 100%;
          }
        }
    }
}