@use '../../main.scss';


.payment-wrapper {
    display: flex;
    font-size: .9em;
    justify-content:center;

    &>div {
        width: 100%;
        max-width: 700px;
    }

    .error-message {
        background: main.$light-red;
        margin-top: 50px;
        display: flex;
        gap: 10px;
        border-radius: 10px;
        border: 2px solid main.$red;
        color: main.$black;
        padding: 10px;

        ion-icon {
            color: main.$red;
            font-size: 1.8em;
        }
    }

    .shipping-method {
        color: main.$black;
        max-width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        
        h4 {
            margin-top: 0;
        }

        p {
            font-size: .8em;
            font-style: italic;
            color: main.$gray;
        }

        &>div {
            display: flex;
            padding: 20px 10px;
            border: main.$border;
            border-radius: 5px;
            gap: 12px;

            input[type='radio'] {
                display: none;
            }

            .custom-radio {
                display: inline-block;
                width: 18px;
                position: relative;
                height: 18px;
                border: 7px solid main.$black;
                background: main.$white;
                border-radius: 50%;
                position: relative;
                cursor: pointer;
            }

            span:last-child {
                font-weight: 600;
                color: main.$gray;
            }
        }

        .shipping-method_desc {
            margin-top: 15px;
        }
    }

    .paystack-button {
        cursor: pointer;
        text-align: center;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        background-color: main.$black;
        font-weight: bold;
        color: main.$white;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 15px;
        margin-top: 50px;
      }
}


@media (max-width: 767px) {
    .payment-wrapper {
        font-size: .8em;
        
        &> div {
            padding: 0 20px;
        }
    } 
}