@use '../../index.scss';

section.product {
    
    &>div:first-child {
        display: flex;

        &>div:first-child {
            flex-basis: 56%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 15px 40px 15px 20px;
            background: #bae8d4;

        ul {
            list-style: none;
            padding:0 ;
            margin-top: 0;
            display: flex;
            gap: 10px;

            li:nth-of-type(2) {
                display: flex;
                align-items: center;
            }

            li {
                text-decoration: underline;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        .banner-text {
            &>h1 {
                margin: .5em 0 0 0;
                font-weight: bold;
                font-size: 2.5em;
            } 

            div {
                font-size: 1.2em;
                padding: 15px 0;
            }
        }
    }

    &>div:nth-child(2) {
        flex-basis: 44%;
        min-height: 100px;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    }

    .products {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 4em;
        
        &>div {
            cursor: pointer;

            .image-wrapper {
                max-width: 350px;
                height: 300px;
                border-radius: 5px;
                overflow: hidden;
                aspect-ratio: 16/9;
            }

            img {
                width: 100%;
                border-radius: inherit;
                transition: 0.30s;
                height: 100%;
                object-fit: cover;
            }

            img:hover {
                transform: scale(1.1)
            }
        }

        p {
            font-size: 1.5em;
            margin: .3em 0 0;
        }
    }
}