@use '../../main.scss';

.skeleton-product {
    padding: 20px;

    &>div:first-child {
        height: 300px;
        display: flex;
        gap: 10px;

        div {
            flex-basis: 50%;
            border-radius: 10px;
            animation: splash 1s linear infinite alternate;
            background: main.$lighter-gray;
        }
    }

    &>div:nth-child(2) {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .skeleton-radio {
        flex-basis: 25%;

        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 10px;
        }

        li {
            padding: 15px;
            border-radius: 5px;
            list-style: none;
            width: 100%;
            animation: splash 1s linear infinite alternate;
            background: main.$lighter-gray;
        }
    }

    .skeleton-dropdown {
        display: none;
    }

    .skeleton-product-wrapper {
        flex-basis: 75%;
    }

    .skeleton-products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;

        &>div {

            div:first-child {
                aspect-ratio: 11/9;
                border-radius: 5px;
                animation: splash 1s linear infinite alternate;
                background: main.$lighter-gray;
            }

            div:nth-child(2) {
                display: flex;
                margin-top: 20px;
                align-items: flex-end;
                flex-basis: 100%;
            }

            ul {
                padding-left: 0;
                flex-basis: 100%;
                margin: 0;
            }

            li {
                background: main.$lighter-gray;
                animation: splash 1s linear infinite alternate;
                list-style: none;
                margin-bottom: 5px;
                width: 100%;
                height: 15px;
                border-radius: 5px;
            }

            li:first-child {
                width: 50%;
            }
        }
    }
}


@media (max-width: 912px) {
        .skeleton-product {

            &>div:first-child,
            .skeleton-radio {
                display: none
            }

            &>div:nth-child(2) {
                display: block;
            }

            .skeleton-product-wrapper {
                width: 100%;
            }

            .skeleton-dropdown {
                display: block;
                max-width: 100%;
                width: 320px;
                border-radius: 5px;
                padding: 25px;
                animation: splash 1s linear infinite alternate;
                background: main.$lighter-gray;
            }

            .skeleton-products {
                margin-top: 20px;
            }
        }
    }


@media (max-width: 540px) {

    .skeleton-product {

        &>div:first-child {
            display: none
        }

        .skeleton-products {
            grid-template-columns: repeat(1, 1fr);
    
            &>div {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 10px;

            }
        }
    }
}
