@use '../../main.scss';

section.product {
    
    &>div:first-child {
        height: 300px;
        display: flex;


        .product-banner-text {
            justify-content: space-around;
        }

        .banner-text-container {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            color: main.$black;
            background: main.$green;

        ul {
            list-style: none;
            padding:0 ;
            margin-top: 0;
            display: flex;
            gap: 5px;

            li:nth-child(odd) {
                text-decoration: underline;
            }

            li:nth-child(even) {
                display: flex;
                align-items: flex-end;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        .banner-text {
            
            &>h1 {
                margin: .5em 0 0 0;
                font-weight: 600;
                font-size: 2em;
            } 

            div {
                
                padding: 15px 0;
            }
        }
    }

    &>div:nth-child(2) {
        flex-basis: 50%;
        background: main.$green;
        height: 100%;

        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }

    }

    &>div:nth-child(2) {
        display: flex;
        gap: 30px;
        margin-top: 20px;
        padding: 20px;

        .radio-wrapper {
            color: main.$black;
            flex-basis: 25%;

            h1 {
                font-size: 2em;
                margin: 0 0 10px;
            }

            label {
                position: relative;

                input {
                    opacity: 0;
                }

                input:checked + span {
                    background: main.$green;
                }

                span {
                    position: absolute;
                    border: 1px solid main.$black;
                    top: 50%;
                    cursor: pointer;
                    transform: translateY(-50%);
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }


            &>div {
                padding: 10px 0;
                border-style: solid;
                border-width: 1px 0 0;
                border-color: main.$light-gray;
                text-transform: uppercase;
            }

            &>div:last-child {
                border-bottom: 1px solid main.$light-gray;
            }
        }

        .radio-dropdown,
        h1 {
            display: none;
        }
    }

    .spinner {
        top: 0;
        left: 0;
        background: main.$faint-white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: fixed;
        height: 100%;
        width: 100%;

        img {
            max-width: 80px;
        }
    }

    .products {
        display: grid;
        flex-basis: 75%;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    
        &>a {
            text-decoration: none;
            color: main.$black;

            &>div {
                cursor: pointer;
                width: 100%;
    
                .image-wrapper {
                    border-radius: 5px;
                    aspect-ratio: 11/9;
                    background: main.$light-gray;
                    overflow: hidden;

                    span {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                img {
                    border-radius:inherit;
                    width: 100%;
                    height: 100%;
                    transition: 0.30s;
                    object-fit: cover;
                }
    
                img:  {
                    transform: scale(1.1)
                }
            }
    
            p:first-of-type {
                font-size: 1.3em;
                text-transform: capitalize;
                -webkit-line-clamp: 2;
                font-weight: 500;
                margin: 0;
            }
    
            p {
                overflow: hidden;
                display: -webkit-box;
                font-size: 0.95em;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                text-align: left;
            }

            div:last-child {

                .naira-wrapper {
                    display: flex;
                    font-weight: 500;
                    align-items: center;
                }

                .naira {
                    font-size: .8em;
                }
            }

        }
    }
}


@media (max-width: 912px) {
    section.product {

        &>div:nth-child(2) {
            display: block;

            .radio-wrapper {
                display: none;
            }

            .radio-dropdown {
                display: block;

                select {
                    padding: 15px;
                    background: main.$white;
                    color: main.$black;
                    width: 320px;
                    text-transform: uppercase;
                    font-weight: 500;
                    outline: none;
                    border: 1px solid main.$black;
                    max-width: 100%;
                }  
            }

            h1 {
                display: block;
            }

            h1 {
                color: main.$black;
                text-transform: capitalize;
                font-weight: 500;
                margin-top: 30px;
                font-size: 2.2em;
            }

            .products {
                margin-top: 20px;
                flex-basis: 100%;
            }
        }
    }
}


@media (max-width: 768px) {
    section.product {
        padding: 20px;

        &>div:first-child {
            display: none
        }

        &>div:nth-child(2) {
            padding: 0;
        }
    }
}


@media (max-width: 540px) {

    section.product {
        font-size: .8em;

        &>div:first-child {
            display: none
        }

        .products {
            grid-template-columns: repeat(1, 1fr);
    
            &>a>div {
                display: grid;
                gap: 10px;
                grid-template-columns: 1fr 2fr;
            }
        }
    }
}

