@use '../../main.scss';

.cart, .open-cart {
    background: main.$white;
    color: main.$black;
    max-width: 400px;
    width: 100%;
    top: 0;
    font-size: .9em;
    z-index: 3;
    box-shadow: main.$box-shadow;
    position: fixed;
    height: 100%;
    right: 0;

    .cartitems  {
        overflow-y: scroll;
        display: flex;
        height: 100%;
        padding: 190px 10px 25px;
        flex-direction: column;
        gap: 10px;

        &>div {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            &>div:first-child {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 10px;

                .cart-image {
                    aspect-ratio: 11/8;
                    width: 110px;
                    overflow: hidden;
                    border-radius: 5px;
                    background: main.$light-gray;
                    
                    span {
                        border-radius: inherit;
                        width: 100%;
                        height: 100%;
                    }
    
                    img {
                        width: 100%;
                        border-radius: inherit;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                &>div:nth-child(2) {

                    &>div:nth-child(2) {
                        margin-top: 3px;
                    }
    
                    .naira-sign {
                        font-size: 14px;
                    }
    
                    .quantity {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        gap: 10px;
                        
                        &>button {
                            background: inherit;
                            display: flex;
                            font-size: 1.1em;
                            align-items: center;
                            border: none;
                            padding: 0;
    
                            ion-icon {
                                fill: main.$black;
                                cursor: pointer;
                            }
                        }
    
    
                        &>button:disabled ion-icon{                 
                            fill: main.$light-gray;
                            cursor: default;
                        }
    
                        &>button:not(:disabled):hover {
                            ion-icon {   
                                fill:main.$green;
                            } 
                        }
                    }
                }
            }

            &>div:last-child {
                font-size: .7em;

                span {
                    padding-bottom: 4px;
                    border-bottom: 1px solid main.$black;
                }

                span:hover {
                    cursor: pointer;
                    color: main.$red;
                    border-bottom: 1px solid main.$red;
                }
            } 

        }
    }

    .checkout {
        width: 100%;
        position: fixed;
        padding: 0px 20px;
        top: 50px;
        background:main.$white;
        box-shadow: main.$box-shadow;
        z-index: 2;

        &>div {
            text-align: right;
            font-size: .7em;
            padding: 10px;
        }

        &>a {
            display: flex;
            justify-content: center;

            &>div {
                margin:15px 0 0;
                display: flex;
                cursor: pointer;
                max-width: 200px;
                justify-content: center;
                align-items: center;
                position: relative;
                
                
                svg {
                    width: 100%;
                    fill: main.$black;  
                    transition: all .3s ease-in-out;
                }

                &>div {
                    position: absolute;
                    transition: all .3s ease-in-out;
                    text-align: center;
                    color: main.$green;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .naira-sign {
                        color: main.$green;
                        display: flex;
                        gap: 2px;
                        align-items: center;
                    }

                    span:nth-child(2) {
                        font-size: 1.4em;
                        width: .065em;
                        height: 20px;
                        background: main.$green;
                        font-weight: bolder;
                    }
                }
            }

            &>div:hover {
                svg {
                    fill: main.$green;
                    stroke: main.$dark-green;
                }

                &>div, .naira-sign {
                    color: main.$black;
                }

                span:nth-child(2) {
                    background: main.$black;
                }
            }
        }
    }

    .error, .loading {
        position: absolute;
        top: 50%;
        font-size: 1.1em;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

        pre {
            margin: 0;

            &>div:last-child {
                margin-top: 15px;
            }

            ion-icon {
                font-size: 30px;
            }
        }

        .image-holder {
            width: 50px;
            padding-bottom: 10px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
    }
}

.noscroll {
    overflow: hidden;
}

.open-cart {
    transition:all .3s ease-in-out;
    transform: translateX(0);
}

.cart {
    transition:all .3s ease-in-out;
    transform: translateX(100vw);
    visibility: hidden;
}

