@use '../../main.scss';

.cart, .open-cart {
    background: main.$white;
    color: main.$black;
    width: 50vw;
    position: absolute;
    height: 100vh;
    right: 0;

    &>header {
        text-align: center;
        font-family: dancing script;
        font-size: 1.5em;
        margin: 0 10px;
        border-bottom: 1px solid main.$black;
        padding: 15px 0;
    }

    .cartitems  {
        overflow-y: scroll;

        &>div {
         
            display: flex;
            gap: 10px;
            margin: 20px 10px;

            .cart-image {
                max-width: 20vw;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 16/9;
                }
            }

            &>div:last-child:hover {
                cursor: pointer;
                color: red;
            }

        }

    }
}

.noscroll {
    overflow-y: hidden;
}

.open-cart {
    transition:all .3s ease-in-out;
    transform: translateX(0);
}

.cart {
    transition:all .25s ease-in-out;
    transform: translateX(50vw);
}

